@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Outfit;
    color: #a6a5a5;
}

nav
{
    width: 100%;
    padding: 20px;
    background-color: rgb(50, 50, 119);
    display: flex;
    justify-content: space-around;
}

#nav-first
{
    margin-right: 300px;
    font-size: 20px;
}

.nav-items
{
    align-items: center;
    color: aliceblue;
}

.img1
{
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom,#000000 50%,transparent 100%);
}

section
{
    width: 100%;
    height: 100%;
    background-color: rgb(237, 245, 242);
}

.about
{
    font-size: 50px;
    color: goldenrod;
    padding: 30px 0px;
}

footer
{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(100px,auto);
    align-content: stretch;
}

.items
{
    align-items: center;
    margin: 10px 30px;
}

#item1
{
    grid-column-start: 1;
    grid-column-end: 12;
    font-size: 50px;
}

#item2
{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 7;
    font-size: 25px;
    text-align: justify;

}

#item3
{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 12;
    font-size: 25px;

}

.moment
{
    font-size: 50px;
    color: goldenrod;
    padding: 30px 0px;
    margin-left: 30px;
}

.img4
{
    display: inline-block;
    width: 950px;
    height: 500px;
    margin-left: 240px;
}

.imgg
{
    width: 420px;
    height: 230px;
}